.neo-classical-courthouse-facad-icon5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-lazy-icon4 {
  height: 32px;
  width: 158px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.image-lazy-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}
.rent-easy-rent3 {
  position: relative;
  z-index: 1;
}
.neo-classical-courthouse-facad-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-384xl) var(--padding-xl) var(--padding-384xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base);
  min-width: 468px;
  min-height: 919px;
  max-width: 100%;
}
.frame-child8 {
  width: 720px;
  height: 919px;
  position: relative;
  background-color: var(--white-ffffff);
  display: none;
  max-width: 100%;
}
.image-lazy-icon5 {
  height: 32px;
  width: 158px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
}
.image-wrapper,
.image-wrapper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.image-wrapper {
  flex: 1;
  justify-content: center;
  padding: 0 var(--padding-xl);
  z-index: 1;
}
.image-wrapper-wrapper {
  width: 412px;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
}
.h21 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--title-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--title);
  color: var(--black-900-1a1a1a);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
}
.login1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--black-800-333333);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.label1 {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
  overflow: hidden;
}
.login-placeholder {
  width: 176px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  font-family: var(--title);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.union-icon2 {
  height: 6px;
  width: 6px;
  position: relative;
}
.login-icon-union1,
.login-icons3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-icon-union1 {
  height: 16px;
  width: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--black-700-4d4d4d);
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.login-icons3 {
  overflow: hidden;
}
.arow-icons-16-medium1 {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
  min-height: 16px;
}
.input-icons2,
.regular-input-double-row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.input-icons2 {
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
  opacity: 0;
}
.regular-input-double-row2 {
  flex: 1;
  border-radius: var(--br-7xs);
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.login-field1,
.login-input1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.login-input1 {
  flex-direction: row;
  position: relative;
}
.login-field1 {
  flex-direction: column;
  gap: var(--gap-5xs);
  z-index: 1;
}
.password1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--black-800-333333);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.satellite-input6 {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-bg3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
  overflow: hidden;
}
.placeholder-value1 {
  width: 116px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--title);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.union-icon3 {
  height: 6px;
  width: 6px;
  position: relative;
}
.union-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--black-700-4d4d4d);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.login-icons4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.login-icons-item,
.vector-icon14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon14 {
  height: 68.13%;
  top: 16.88%;
  bottom: 15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.login-icons5 {
  height: 16px;
  width: 16px;
  position: relative;
}
.input-icons3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
}
.password-input1,
.regular-input-double-row3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.regular-input-double-row3 {
  flex: 1;
  border-radius: var(--br-7xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.password-input1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.link-button-label2,
.link-button-label3 {
  position: relative;
  font-size: var(--hint-placeholder-size);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-family: var(--hint-placeholder);
  color: var(--system-blue-007aff);
}
.link-button-label2 {
  width: 152px;
  text-align: left;
  display: none;
}
.link-button-label3 {
  height: 12px;
  flex: 1;
  text-align: right;
  display: inline-block;
}
.satellite-input7 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.description5 {
  height: 12px;
  flex: 1;
  position: relative;
  font-size: var(--hint-placeholder-size);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-family: var(--hint-placeholder);
  color: var(--black-800-333333);
  text-align: left;
  display: inline-block;
}
.satellite-input8 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.warning1 {
  height: 12px;
  flex: 1;
  position: relative;
  font-size: var(--hint-placeholder-size);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-family: var(--hint-placeholder);
  color: var(--system-orange-ff9500);
  text-align: left;
  display: inline-block;
}
.satellite-input9 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.success1 {
  height: 12px;
  flex: 1;
  position: relative;
  font-size: var(--hint-placeholder-size);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-family: var(--hint-placeholder);
  color: var(--system-green-26a212);
  text-align: left;
  display: inline-block;
}
.satellite-input10 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.error1 {
  height: 12px;
  flex: 1;
  position: relative;
  font-size: var(--hint-placeholder-size);
  letter-spacing: 0.3px;
  line-height: 12px;
  font-family: var(--title);
  color: var(--system-red-ff3b30);
  text-align: left;
  display: inline-block;
}
.login-field-parent,
.password-field1,
.satellite-input11 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.satellite-input11 {
  width: 336px;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.login-field-parent,
.password-field1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.password-field1 {
  gap: var(--gap-5xs);
  z-index: 1;
}
.login-field-parent {
  gap: var(--gap-5xl);
}
.default1 {
  right: 0;
  bottom: 0;
  border-radius: var(--br-17xl-5);
  background-color: var(--black-50-f2f2f2);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
}
.bg-switcher1,
.default1,
.knob-201 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.knob-201 {
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
  border-radius: var(--br-xs);
  background-color: var(--white-ffffff);
}
.knob-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.toggle-switcher1 {
  height: 20px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.description6 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.28px;
  line-height: 20px;
  font-family: var(--title);
  color: var(--black-900-1a1a1a);
  text-align: left;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.description7 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-family: var(--title);
  color: var(--color-darkslateblue);
  text-align: right;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.toggle-wrapper-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent30 {
  width: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.dis3 {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 42px;
}
.nav1,
.primary-button35 {
  align-self: stretch;
  z-index: 1;
}
.primary-button35 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-xs);
  background: linear-gradient(
      93.58deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0)
    ),
    #fdaf48;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.primary-button35:hover {
  background-color: var(--color-darkgoldenrod);
}
.nav1 {
  height: 1px;
  position: relative;
  background-color: var(--black-100-e5e5e5);
}
.other-pay-method-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.dis4 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--white-ffffff);
  text-align: center;
  display: inline-block;
  min-width: 121px;
}
.google-big-button-40px1,
.other-pay-method-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.other-pay-method-parent {
  gap: var(--gap-5xs);
}
.google-big-button-40px1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-7xl);
  background-color: var(--color-darkslateblue);
  flex: 0.9036;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  min-width: 131px;
  z-index: 1;
}
.other-pay-method-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.dis5 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--white-ffffff);
  text-align: center;
}
.other-pay-method-group {
  gap: var(--gap-6xs);
}
.facebook-small-button-40px1,
.other-pay-method-group,
.social-buttons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebook-small-button-40px1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-lg);
  background-color: var(--color-darkslateblue);
  flex: 1;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  min-width: 131px;
  z-index: 1;
}
.social-buttons1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.description8,
.description9 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-family: var(--title);
}
.description8 {
  color: var(--black-900-1a1a1a);
  text-align: left;
  z-index: 1;
}
.description9 {
  color: var(--color-gray-200);
  text-align: right;
  display: inline-block;
  min-width: 77px;
}
.sign-up-now1 {
  justify-content: flex-start;
  z-index: 1;
}
.sign-up-now1,
.signup-wrapper-wrapper,
.signup-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.signup-wrapper1 {
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.signup-wrapper-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.primary-button-parent5,
.social-logins {
  flex-direction: column;
  align-items: flex-start;
}
.social-logins {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-4xl-5);
}
.primary-button-parent5 {
  width: 412px;
  gap: var(--gap-13xl);
}
.frame-form,
.main-content,
.primary-button-parent5 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-form {
  margin: 0;
  flex: 1;
  background-color: var(--white-ffffff);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-118xl) var(--padding-xl) 177.5px;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  min-width: 468px;
}
.main-content {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--title);
}
.rentojoy-inc-all3 {
  position: relative;
}
.rentojoy-inc-all-rights-reser-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.follow-us3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
}
.follow-us-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.link-icon12,
.link-icon13,
.link-icon14,
.link-icon15 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-31xl);
  mix-blend-mode: normal;
  min-height: 40px;
}
.link-parent {
  justify-content: flex-start;
  gap: var(--gap-3xs-2);
}
.container17,
.follow-us-wrapper-parent,
.link-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.follow-us-wrapper-parent {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--title-size);
  color: var(--white-ffffff);
}
.container17 {
  width: 1264px;
  justify-content: space-between;
  padding: 0 var(--padding-14xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.footer3,
.login-without-credentials1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-14xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  font-family: var(--title);
}
.login-without-credentials1 {
  width: 100%;
  position: relative;
  background-color: var(--white-ffffff);
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .frame-form,
  .neo-classical-courthouse-facad-group {
    padding-top: var(--padding-243xl);
    padding-bottom: var(--padding-243xl);
    box-sizing: border-box;
  }
  .frame-form {
    padding-top: var(--padding-70xl);
    padding-bottom: var(--padding-96xl);
  }
}
@media screen and (max-width: 700px) {
  .frame-form,
  .neo-classical-courthouse-facad-group {
    min-width: 100%;
  }
  .container17 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .neo-classical-courthouse-facad-group {
    padding-top: var(--padding-151xl);
    padding-bottom: var(--padding-151xl);
    box-sizing: border-box;
  }
  .h21 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .regular-input-double-row2,
  .regular-input-double-row3,
  .toggle-wrapper-parent {
    flex-wrap: wrap;
  }
  .frame-parent30 {
    gap: var(--gap-base);
  }
  .google-big-button-40px1 {
    flex: 1;
  }
  .social-buttons1 {
    flex-wrap: wrap;
  }
  .primary-button-parent5 {
    gap: var(--gap-base);
  }
  .frame-form {
    gap: var(--gap-5xl);
    padding-top: var(--padding-39xl);
    padding-bottom: 75px;
    box-sizing: border-box;
  }
  .follow-us3 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .follow-us-wrapper-parent {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
