.neo-classical-courthouse-facad-icon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-lazy-icon2 {
  height: 32px;
  width: 158px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.auth-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}
.rent-easy-rent2 {
  position: relative;
  z-index: 1;
}
.auth-grid,
.auth-grid-child {
  position: relative;
  max-width: 100%;
}
.auth-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-384xl) var(--padding-xl) var(--padding-384xl)
    var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 468px;
  min-height: 919px;
}
.auth-grid-child {
  width: 720px;
  height: 919px;
  background-color: var(--white-ffffff);
  display: none;
}
.image-lazy-icon3 {
  height: 32px;
  width: 158px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
}
.rent-easy-icon,
.rent-easy-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rent-easy-icon {
  flex: 1;
  justify-content: center;
  padding: 0 var(--padding-xl);
  z-index: 1;
}
.rent-easy-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
}
.h2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.price-icon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}
.login {
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.label {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
  overflow: hidden;
}
.login-placeholder-wrapper {
  width: 176px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  font-family: var(--title);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.union-icon {
  height: 6px;
  width: 6px;
  position: relative;
}
.login-icon-union,
.login-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-icon-union {
  height: 16px;
  width: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--black-700-4d4d4d);
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.login-icons {
  overflow: hidden;
}
.arow-icons-16-medium {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
  min-height: 16px;
}
.input-icons,
.regular-input-double-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.input-icons {
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
  opacity: 0;
}
.regular-input-double-row {
  flex: 1;
  border-radius: var(--br-7xs);
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.login-field,
.login-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.login-input {
  flex-direction: row;
  position: relative;
}
.login-field {
  flex-direction: column;
  gap: var(--gap-5xs);
  z-index: 1;
}
.password {
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.satellite-input {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-sm);
  font-family: var(--title);
}
.input-bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
  overflow: hidden;
}
.placeholder-value {
  width: 116px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--title);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.union-icon1 {
  height: 6px;
  width: 6px;
  position: relative;
}
.union-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--black-700-4d4d4d);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.login-icons1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.login-icons-child,
.vector-icon13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon13 {
  height: 68.13%;
  top: 16.88%;
  bottom: 15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.login-icons2 {
  height: 16px;
  width: 16px;
  position: relative;
}
.input-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-base);
}
.password-input,
.regular-input-double-row1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.regular-input-double-row1 {
  flex: 1;
  border-radius: var(--br-7xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.password-input {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.link-button-label,
.link-button-label1 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
}
.link-button-label {
  width: 152px;
  display: none;
}
.link-button-label1 {
  height: 12px;
  flex: 1;
  text-align: right;
  display: inline-block;
}
.satellite-input1 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--system-blue-007aff);
}
.description {
  height: 12px;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  display: inline-block;
}
.satellite-input2 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.warning {
  height: 12px;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  display: inline-block;
}
.satellite-input3 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--system-orange-ff9500);
}
.success {
  height: 12px;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  display: inline-block;
}
.satellite-input4 {
  width: 336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--system-green-26a212);
}
.error {
  height: 12px;
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 12px;
  display: inline-block;
}
.login-form,
.password-field,
.satellite-input5 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.satellite-input5 {
  width: 336px;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  color: var(--system-red-ff3b30);
  font-family: var(--title);
}
.login-form,
.password-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.password-field {
  gap: var(--gap-5xs);
  z-index: 1;
  font-size: var(--hint-placeholder-size);
  font-family: var(--hint-placeholder);
}
.login-form {
  gap: var(--gap-5xl);
  font-size: var(--font-size-sm);
  color: var(--black-800-333333);
}
.default {
  right: 0;
  bottom: 0;
  border-radius: var(--br-17xl-5);
  background-color: var(--black-50-f2f2f2);
  border: 0.5px solid var(--black-100-e5e5e5);
  box-sizing: border-box;
}
.bg-switcher,
.default,
.knob-20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.knob-20 {
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
  border-radius: var(--br-xs);
  background-color: var(--white-ffffff);
}
.knob-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.toggle-switcher {
  height: 20px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.description1 {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 20px;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.remember-me-toggle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.description2 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: var(--color-darkslateblue);
  text-align: right;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.remember-me-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-very-small-text-size);
}
.price-wrapper,
.rent-easy-wrapper-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.price-wrapper {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.rent-easy-wrapper-parent {
  width: 412px;
  gap: var(--gap-29xl);
}
.dis {
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 42px;
}
.nav,
.primary-button34 {
  align-self: stretch;
  z-index: 1;
}
.primary-button34 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-xs);
  background: linear-gradient(
      93.58deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0)
    ),
    #fdaf48;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.primary-button34:hover {
  background-color: var(--color-darkgoldenrod);
}
.nav {
  height: 1px;
  position: relative;
  background-color: var(--black-100-e5e5e5);
}
.other-pay-method-icon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.dis1 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--white-ffffff);
  text-align: center;
  display: inline-block;
  min-width: 121px;
}
.google-big-button-40px,
.google-button-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.google-button-content {
  gap: var(--gap-5xs);
}
.google-big-button-40px {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-7xl);
  background-color: var(--color-darkslateblue);
  flex: 0.9036;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  min-width: 131px;
  z-index: 1;
}
.other-pay-method-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.dis2 {
  position: relative;
  font-size: var(--body-text-very-small-text-size);
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--white-ffffff);
  text-align: center;
}
.facebook-button-content {
  gap: var(--gap-6xs);
}
.facebook-button-content,
.facebook-small-button-40px,
.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebook-small-button-40px {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-lg);
  background-color: var(--color-darkslateblue);
  flex: 1;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  min-width: 131px;
  z-index: 1;
}
.social-buttons {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.description3,
.description4 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 20px;
}
.description3 {
  z-index: 1;
}
.description4 {
  display: inline-block;
  min-width: 77px;
}
.sign-up-now {
  justify-content: flex-start;
  z-index: 1;
  text-align: right;
  color: var(--color-gray-200);
}
.sign-up-now,
.signup,
.signup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.signup {
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.signup-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.primary-button-parent4,
.social-login {
  flex-direction: column;
  align-items: flex-start;
}
.social-login {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-4xl-5);
}
.primary-button-parent4 {
  width: 412px;
  gap: var(--gap-13xl);
  font-size: var(--body-text-very-small-text-size);
}
.auth-grid1,
.hero,
.primary-button-parent4 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.auth-grid1 {
  flex: 1;
  background-color: var(--white-ffffff);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-118xl) var(--padding-xl) var(--padding-74xl-5);
  box-sizing: border-box;
  gap: 132px;
  min-width: 468px;
  font-size: var(--title-size);
  color: var(--black-900-1a1a1a);
}
.hero {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--title);
}
.rentojoy-inc-all2 {
  position: relative;
}
.copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.follow-us2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
}
.follow-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.link-icon10,
.link-icon11,
.link-icon8,
.link-icon9 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-31xl);
  mix-blend-mode: normal;
  min-height: 40px;
}
.social-links1 {
  justify-content: flex-start;
  gap: var(--gap-3xs-2);
}
.container16,
.social-links1,
.social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-wrapper {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--title-size);
  color: var(--white-ffffff);
}
.container16 {
  width: 1264px;
  justify-content: space-between;
  padding: 0 var(--padding-14xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.footer2,
.login-without-credentials {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-14xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  font-family: var(--title);
}
.login-without-credentials {
  width: 100%;
  position: relative;
  background-color: var(--white-ffffff);
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .auth-grid,
  .auth-grid1 {
    padding-top: var(--padding-243xl);
    padding-bottom: var(--padding-243xl);
    box-sizing: border-box;
  }
  .auth-grid1 {
    padding-top: var(--padding-70xl);
    padding-bottom: var(--padding-42xl);
  }
}
@media screen and (max-width: 700px) {
  .auth-grid,
  .auth-grid1 {
    min-width: 100%;
  }
  .container16 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .auth-grid {
    padding-top: var(--padding-151xl);
    padding-bottom: var(--padding-151xl);
    box-sizing: border-box;
  }
  .h2 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .regular-input-double-row,
  .regular-input-double-row1,
  .remember-me-wrapper {
    flex-wrap: wrap;
  }
  .price-wrapper {
    gap: var(--gap-base);
  }
  .rent-easy-wrapper-parent {
    gap: var(--gap-5xl);
  }
  .google-big-button-40px {
    flex: 1;
  }
  .social-buttons {
    flex-wrap: wrap;
  }
  .primary-button-parent4 {
    gap: var(--gap-base);
  }
  .auth-grid1 {
    gap: 66px;
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .follow-us2 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .social-wrapper {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
